[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = https://github.com/magit/magit.git
[submodule "site-lisp/predictive"]
	path = site-lisp/predictive
	url = http://www.dr-qubit.org/git/predictive.git
