[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = https://github.com/magit/magit.git
[submodule "site-lisp/predictive"]
	path = site-lisp/predictive
	url = http://www.dr-qubit.org/git/predictive.git
[submodule "site-lisp/find-things-fast"]
	path = site-lisp/find-things-fast
	url = https://github.com/eglaysher/find-things-fast.git
[submodule "site-lisp/Fill-Column-Indicator"]
	path = site-lisp/Fill-Column-Indicator
	url = https://github.com/alpaker/Fill-Column-Indicator.git
